{% extends "webapp/basic.html" %}

{% block content %}
<text>Aggregated</text></br>
<text>State</text></br>
<head>
    {% load staticfiles %} 
	
	<script type="text/javascript" src="{% static 'fusioncharts/js/jquery-3.3.1.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'fusioncharts/js/fusioncharts.js' %}"></script>
    <script type="text/javascript" src="{% static 'fusioncharts/js/themes/fusioncharts.theme.fint.js' %}"></script>
	<script type="text/javascript" src="{% static 'fusioncharts/js/fusioncharts-jquery-plugin.js' %}"></script>
	
  </head>
<form method="POST" name="stateForm" action="/nonquery/state/stateaction">
{% csrf_token %}
	<select name="state" id="state" onchange="changeTextBox();">
  <option value="0" >Choose an option</option>
  <option value="totalvehcount" >Total Vehicle Count</option>
  <option value="avgtripmilesbystate"selected="true">Average Trip Miles by State</option>
<option value="avgtriptimebystate">Average Trip Time by State</option>

 
</select>
<script type="text/javascript">

function changeTextBox()
{
  	var x = document.getElementsByName("stateForm");
	x[0].submit();
	
}
</script>
</form>
<div id="collapsible-panels">
            <h6><a href="1" id ="line">Line Graph(2009)</a></h6>
			<div class="chart-example" id="chart-containerLine">     </div>
            <h6><a href="2" id ="bar">Bar Graph(2009)</a></h6>
            <div class="chart-example" id="chart-containerBar">     </div>
</div>

<style>
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
th, td {
    padding: 5px;
    text-align: left;    
}
</style>
<text>Average Trip Miles based on State 2009</text>
<button style="float: right;" onclick="exportTableToCSV('avgTripMilebyState.csv')">Click for CSV File</button>
<table style="width:100%" id="dataTable" name="dataTable">
<tr>
<th>State</th>
<th>Average Miles</th>
</tr>
{% for j in result %}
<tr>
<td>{{j.hhstate}}</td>
<td>{{j.trpmiles__avg}} miles</td>
</tr>
{% endfor %}

</table>
<br></br>
<text>Average Trip Miles based on State 2017</text>

<table style="width:100%" id="dataTable17" name="dataTable17">
<tr>
<th>State</th>
<th>Average Miles</th>
</tr>
{% for j in result17 %}
<tr>
<td>{{j.hhstate}}</td>
<td>{{j.trpmiles__avg}} miles</td>
</tr>
{% endfor %}

</table>

<script type="text/javascript">
function convertChartLine(){	
var getTabularData = function () {
        var table = document.getElementById('dataTable'),
            rows = table.children[0].children,
            row,
            i,
            length,
            data = [];
       // get the table element and iterate over its children and extract the data
        for (i = 1, length = rows.length; i < length; i++) {
            
            row = rows[i];
            data.push({
                label: row.children[0].innerHTML,
                value: row.children[1].innerHTML
            });
        }
        
        return data;
    };    
        var revenueChart = new FusionCharts({
        type: 'line',
        renderAt: 'chart-containerLine',
        width: '1000',
        height: '450',
        dataFormat: 'json',
        id: 'line-chart',
        dataSource: {
            "chart": {
                "caption": "Average Trip Miles by State",
                "subCaption": "",
                "xAxisName": "State",
                "yAxisName": "Average Trip Miles",
                "numberPrefix": "",
                "theme": "fint",
                "rotateValues": "1",
                "exportEnabled": "1"
            },
            "data": getTabularData()
        }
    });
    revenueChart.render();
}
function convertChartBar(){	

var getTabularData = function () {
        var table = document.getElementById('dataTable'),
            rows = table.children[0].children,
            row,
            i,
            length,
            data = [];
       // get the table element and iterate over its children and extract the data
        for (i = 1, length = rows.length; i < length; i++) {
            
            row = rows[i];
            data.push({
                label: row.children[0].innerHTML,
                value: row.children[1].innerHTML
            });
        }
        
        return data;
    };    
        var revenueChart = new FusionCharts({
        type: 'column2D',
        renderAt: 'chart-containerBar',
        width: '1000',
        height: '450',
        dataFormat: 'json',
        id: 'bar-chart',
        dataSource: {
            "chart": {
                "caption": "Average Trip Miles by State",
                "subCaption": "",
                "xAxisName": "State",
                "yAxisName": "Average Trip Miles",
                "numberPrefix": "",
                "theme": "fint",
                "rotateValues": "1",
                "exportEnabled": "1"
            },
            "data": getTabularData()
        }
    });
    revenueChart.render();

}
</script>
<script type="text/javascript" src="{% static 'personal/js/functions.js' %}"></script>
{% endblock %}

