<!DOCTYPE html>
<html lang="en">

<head>
   	<title>Akash Rathore</title>
	<meta charset="utf-8" />
	{% load staticfiles %}
	<link rel="stylesheet" href="{% static 'personal/css/bootstrap.min.css' %}" type = "text/css"/>
	<meta name="viewport" content = "width=device-width, initial-scale=1.0">
	
	<style type="text/css">
		html,
		body {
		  height:100%
		}
		.button {
		position:fixed;
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
	right:0;
	bottom:190px;
    margin: 4px 2px;
    cursor: pointer;
}
	</style>


<body class="body" style="background-color:#f6f6f6">
	<div class="container-fluid" style="min-height:95%; ">
		<div class="row">
			  <div class="col-sm-2">
				  <br>
				  <center>
					<img src="{% static 'personal/img/profile.jpg' %}" class="responsive-img" style='max-height:100px;' alt="face">
				  </center>
			  </div>
			  <div class="col-sm-10">
				  <br>
				  <center>
				  <h3>NHTS Data Visualization</h3>
				  <a href="{% static 'personal/Codebook.pdf'%}" target="_blank"> Take a look at Codebook here</a>
				  </center>
			  </div>
		</div><hr>
		
<div id ="content">

{% block content%} 
{% endblock%}
</div>
<form name="index", id="index" action="/">
<input type="submit" class="button" id ="submit" value="Restart">
</form> 
</body>
</html>